<!DOCTYPE html>
<html>

<title>Cali Boy Winter App</title>
<h1>Landing Page</h1>
<h2>{{city}}</h2>
<form method="POST">
  <select name="citydropdown">
    <option value="Albany">Albany</option>
    <option value="Albuquerque">Albuquerque</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Anchorage">Anchorage</option>
    <option value="Atlanta">Atlanta</option>
    <option value="Austin">Austin</option>
    <option value="Baker">Baker</option>
    <option value="Baltimore">Baltimore</option>
    <option value="Bangor">Bangor</option>
    <option value="Birmingham">Birmingham</option>
    <option value="Bismark">Bismark</option>
    <option value="Boise">Boise</option>
    <option value="Boston">Boston</option>
    <option value="Buffalo">Buffalo</option>
    <option value="Calgary">Calgary</option>
    <option value="Carlsbad">Carlsbad</option>
    <option value="Charleston">Charleston</option>
    <option value="Charlotte">Charlotte</option>
    <option value="Cheyenne">Cheyenne</option>
    <option value="Chicago">Chicago</option>
    <option value="Cincinnati">Cincinnati</option>
    <option value="Cleveland">Cleveland</option>
    <option value="Columbia">Columbia</option>
    <option value="Columbus">Columbus</option>
    <option value="Dallas">Dallas</option>
    <option value="Denver">Denver</option>
    <option value="Des Moines">Des Moines</option>
    <option value="Detroit">Detroit</option>
    <option value="Dubuque">Dubuque</option>
    <option value="Duluth">Duluth</option>
    <option value="Eastport">Eastport</option>
    <option value="Edmonton">Edmonton</option>
    <option value="El Centro">El Centro</option>
    <option value="El Paso">El Paso</option>
    <option value="Eugene">Eugene</option>
    <option value="Fargo">Fargo</option>
    <option value="Flagstaff">Flagstaff</option>
    <option value="Fort Worth">Fort Worth</option>
    <option value="Fresno">Fresno</option>
    <option value="Grand Junction">Grand Junction</option>
    <option value="Grand Rapids">Grand Rapids</option>
    <option value="Havre">Havre</option>
    <option value="Helena">Helena</option>
    <option value="Honolulu">Honolulu</option>
    <option value="Hot Springs">Hot Springs</option>
    <option value="Houston">Houston</option>
    <option value="Idaho Falls">Idaho Falls</option>
    <option value="Indianapolis">Indianapolis</option>
    <option value="Jackson">Jackson</option>
    <option value="Jacksonville">Jacksonville</option>
    <option value="Juneau">Juneau</option>
    <option value="Kansas City">Kansas City</option>
    <option value="Key West">Key West</option>
    <option value="Kingston">Kingston</option>
    <option value="Klamath Falls">Klamath Falls</option>
    <option value="Knoxville">Knoxville</option>
    <option value="Las Vegas">Las Vegas</option>
    <option value="Lewiston">Lewiston</option>
    <option value="Lincoln">Lincoln</option>
    <option value="London">London</option>
    <option value="Long Beach">Long Beach</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="Louisville">Louisville</option>
    <option value="Manchester">Manchester</option>
    <option value="Memphis">Memphis</option>
    <option value="Miami">Miami</option>
    <option value="Milwaukee">Milwaukee</option>
    <option value="Minneapolis">Minneapolis</option>
    <option value="Mobile">Mobile</option>
    <option value="Montgomery">Montgomery</option>
    <option value="Montpelier">Montpelier</option>
    <option value="Montreal">Montreal</option>
    <option value="Moose Jaw">Moose Jaw</option>
    <option value="Nashville">Nashville</option>
    <option value="Nelson">Nelson</option>
    <option value="Newark">Newark</option>
    <option value="New Haven">New Haven</option>
    <option value="New Orleans">New Orleans</option>
    <option value="New York">New York</option>
    <option value="Nome">Nome</option>
    <option value="Oakland">Oakland</option>
    <option value="Oklahoma City">Oklahoma City</option>
    <option value="Omaha">Omaha</option>
    <option value="Ottawa">Ottawa</option>
    <option value="Philadelphia">Philadelphia</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <input type="submit">
  </form>
</html>
